@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0}
body{background-color:#000000;color: #ffffff;}
h1 {font-family: 'Macondo', cursive;}
nav {padding: 2%;margin-left: 10%;font-family: 'Macondo', cursive;}
nav span a {position: absolute;left:0px;display: none}
.artista1 {position: absolute;top:30px}
.artista2 {position: absolute;top:60px}
.artista3 {position: absolute;top:90px}
nav a{color: #ffffff;margin-right: 1%;text-decoration: none;}
nav a:hover, nav span:hover {color:#950101;text-decoration: underline;}
.logo{width: 3.5%;position: absolute;top: 1%;right: 20%} 
.buscar{position: absolute;top: 1%;padding: 1%;left: 52%;width: 10%;width: 20%;padding-top: 2.5%;}
input{margin-left:3%;color:#ffffff ;background-color:#000000;border-top-color: #000000;border-right-color: #000000;border-left-color: #000000;border-bottom-color: #ffffff}
.btn{cursor: pointer}
select{margin-left:3%}
.lupa{width: 3%;position: absolute;top: 2%;right: 49%;padding-top: 1.5%;} 
.logueo{width: 4%;position: absolute;top: 1%;right: 14%;border-radius: 50px} 
.mySlides{width: 100%;} 
.cajatitulo h1 {position: absolute;top: 50%; left: 35%;font-size: 350%;background-color:#000000;opacity:70%;background-blend-mode: darken;padding: 5%} 
.cajatitulo h2 {position: absolute;top: 70%; left: 40%;font-size: 200%;font-family: 'Macondo', cursive;opacity: 70%} 
section {display: flex;flex-flow: wrap;}
.articleuno{display: flex;flex-flow: wrap;width: 38%;margin: 1%}
.articledos{display: flex;flex-flow: wrap;width: 58%;margin: 1%}
.cajap, .cajapg{position: relative;overflow: hidden;margin: 1%;width: 46%;text-align: center}
.cajape{position: relative;overflow: hidden;margin: 1%;text-align: center}
.cajap p, .cajape p{display: none;position: absolute;top: 40%;text-align: center;margin: 2%;}
.cajap a, .cajape a{color: #ffffff;display: none;position: absolute;text-decoration: none;top: 80%;text-align: center;margin: 2%;}
.cajag1 p,.cajag2 p{display: none;position: absolute;top: 77%;margin: 2%;}
.cajag1 a,.cajag2 a{color: #ffffff;display: none;position: absolute;text-decoration: none;top: 90%;margin: 2%;}
.cajap:hover a, .cajape:hover a,.cajag1:hover a,.cajag2:hover a{text-decoration: underline;display: block;background-color:#000000;opacity:70%;background-blend-mode: darken;padding: 2%}
.cajap:hover p,.cajape:hover p,.cajag1:hover p,.cajag2:hover p{display: block;background-color:#000000;opacity:70%;background-blend-mode: darken;padding: 2%}
.cajape{overflow: hidden;margin: 1%;width: 94%;}
.cajag1{width: 66%;height: 510px;position: relative; overflow: hidden;margin: 1%;}
.cajag2{width: 30%;height: 510px; position: relative; overflow: hidden;;margin: 1%;}
footer{display: flex;flex-flow: wrap;margin-left: 5%;margin-bottom: 5%; font-family: 'Macondo', cursive;}
footer div{width: 20%;}
.fot a {display: flex;flex-flow: wrap; color: #ffffff;text-decoration: none;padding: 2%}
.secredes{width: 30%; margin-top: 1%;margin-left:10%}
.redes img{width: 40%;}
.redes{margin-left:-7%}
.name{text-decoration: none;color: #ffffff;}
form{padding-top: 5%;padding-left:5%;padding-left:5%;font-family: 'Kanit', sans-serif;}
.formulario{width: 90%;background-color:#0F0F0F;margin: 1%;}
.formulario textarea{background-color: #0F0F0F; font-family: 'Kanit', sans-serif;}
.formulario p{margin-bottom: 3%}
.formulario input{background-color:#0F0F0F;} 
.formulario label{width: 28%;display: inline-block}
.formufoto{width:100%;margin-left: 5%;margin-top:2%}
.aceptar{text-align: center;}
.aceptar2{border-bottom-color:#000000;margin-left:5%;margin-right:5%;padding: 1%}
.aceptar2:hover{color:#950101;border-bottom-color:#950101;}
.cajafilosofia{padding:2%;background-color:#0F0F0F;margin:2%}
.imagen100{width:90%;margin:5%}
.cajag12 {width: 98%;height: 510px;position: relative; overflow: hidden;margin: 1%;}
.cajag13 {width: 46%;height: 510px;position: relative; overflow: hidden;margin: 1%;}
.cajag14 {width: 98%;height: 255px;position: relative; overflow: hidden;margin: 1%;}
.cajag12 img,.cajag13 img,.cajag14 img,.cajapg img{padding: 1% ; transition: 1s;}
.cajag12 img:hover,.cajag13 img:hover,.cajag14 img:hover,.cajapg img:hover,.galartistas img:hover{filter: grayscale(100%);transform: scale(1.1);}
.artexp p {text-align:justify}
.cajaimg{width:100%}
.galartistas{width:100%;text-align:center;}
.galartistas img {padding:1%}
.formures {padding:13%}
.artexp h1{font-size: 210%}
.artexp h2{font-size: 140%;font-family: 'Kanit', sans-serif;}
p{font-family: 'Kanit', sans-serif;font-size: 110%}
textarea{color: #ffffff}
